:root {
  --cyan: #26c2ff;

  --white: #fff;
  --yellow: #ffdd24;
  --pink: #ff6bb7;
  --lilac: #9f67ff;


}


body {
    background: rgb(70,201,245);
    /* background: linear-gradient(0deg, var(--cyan) 0%, var(--pink) 46%, var(--lilac) 100%); */
    background-image:
        url("https://www.transparenttextures.com/patterns/food.png"),
        url("https://www.transparenttextures.com/patterns/notebook-dark.png"),
        linear-gradient(45deg, var(--cyan) 25%, var(--lilac) 46%, var(--pink) 100%);
        /* linear-gradient(149deg, rgba(101,66,126,1) 0%, rgba(255,68,48,1) 50%, rgba(255,253,137,1) 100%); */
    background-repeat:repeat, repeat, no-repeat;
    background-attachment: fixed;
    background-size: auto, auto, cover;
}
